---
site: Eleventy on GitHub Pages
title: Home
---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ site }} | {{ title }}</title>
    <link href="/css/main.css" rel="stylesheet">
  </head>
  <body>

  <nav>
    <a href="/">Home</a> &nbsp;&bull;&nbsp;
    <a href="/about">About</a>
  </nav>
    {{ content | safe }}
  </body>
</html>
